#main h1{color:blue;font-family: Georgia, 'Times New Roman', Times, serif;         
}

#main{
     background-color:bisque;width:'700px';margin-left: auto;margin-right: auto;
}
.hello{color:crimson;font-size: xx-large;}